:root {
    --main-bg-color: #2D356E;
    --secondary-color: #70E000;
    --text-color: #ffffff;
}

.navbar {
    background-color: var(--main-bg-color);
}

.nav-link {
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
}

.logoNavbar {
    height: 70px;
}

.nav-link:hover {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: var(--main-bg-color);
}

footer h4 {
    font-weight: 600;
    color: var(--text-color);
}

footer p {
    color: var(--text-color)
}

footer a {
    color: var(--text-color);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer a:hover {
    color: var(--secondary-color);
}

.list-inline-item .fab {
    transition: all 0.3s ease-in-out;
}

.list-inline-item:hover .fab {
    transform: scale(1.5);
}